.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 6px;
    width: 400px;
    max-width: 90%;
  }
  
  .textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .radioGroup {
    margin-bottom: 10px;
  }
  
  .radioGroup label {
    display: block;
    margin-bottom: 5px;
  }

  
.alarmaForm {
  margin-top: 10px;
}
  
  .checkboxGroup {
    margin-bottom: 10px;
  }
  
  .checkboxGroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }